*{
margin: 0;
padding: 0;
}

.Link{
text-decoration: none;

}

.registration{
display: flex;
font-family: 'Nunito', sans-serif;
font-size: small;
}

.registration h2{
font-family: 'Nunito', sans-serif;
font-weight: bold;
font-size: 34px;
}

.registration p{
font-family: 'Nunito', sans-serif;
font-weight: normal;
font-size: 20px;
color: gray;
}

.registration .left{
width: 50%;
height: 100vh;
display: flex;
justify-content: end;
}

.registration .right{
width: 50%;
height: 100vh;
}

.registration .bg{
width:100%;
height: 100%;
object-fit: cover;
}

.registration .left .text-container{
width: 80%;
margin-top: 100px;
}

.inputCss{
width:90%;
margin: 15px 0 !important;
margin-top: 20px !important;
}

.regbtn{
width: 90%;
padding: 15px 0 !important;
border-radius: 50px !important;
background: blue !important;
color: white !important;
margin-top: 10px !important;
}

.regbtnd{
    width: 90%;
    padding: 15px 0 !important;
    border-radius: 50px !important;
    margin-top: 10px !important;
    }

.box{
max-width: 350px;
margin-top: 20px;
}

.focus{

font-size: 18px !important;
font-weight: bold;
color: orange !important;
margin-top: 20px !important;
color: black !important;

}

.eye{
position: relative;
top: 42px;
right: 30px;
}

.alert{
    width: 82%;
}

.forgotpage{
    background: orange;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.regbtntwo{
    width: 90%;
    padding: 15px 0 !important;
    border-radius: 50px !important;
    background: white !important;
    color: black !important;
    margin-top: 10px !important;
    border: 1px solid black !important;
}

.google {
    position: absolute;
    top: 19px;
    left: 28px;
    font-size: 35px;
}

.relative{
    position: relative;
}

@media only screen and (max-width: 600px) {
    .registration .left {
        display: flex;
        justify-content: center;
    }
    .registration .left .text-container {
        margin-top: 50px;
    }
    .registration h2 {
        font-size: 20px;
    }
    .registration p {
        font-size: 14px;
    }
    .regbtn {
        width: 70%;
        padding: 9px 2px !important;
        font-size: 8px !important;
    }
    .focus {
        font-size: 14px !important;
        max-width: 106px;
        margin-top: 8px !important;
    }

    .registration .bg{
        width:100%;
        height: 100%;
        
        }

        .inputCss {
            width: 80%;
            margin: 0px 0 !important;
            margin-top: 3px !important;
        }

        .eye {
            position: relative;
            top: 23px;
            right: 18px;
        }

        .google {
            position: absolute;
            top: 22px;
            left: 13px;
            font-size: 16px;
        }

        .regbtntwo {
            width: 90%;
            padding: 15px 0 !important;
            border-radius: 50px !important;
            background: white !important;
            color: black !important;
            margin-top: 10px !important;
            border: 1px solid black !important;
            font-size: 6px !important;
            padding-left: 10px !important;
        }

        .box {
            max-width: 350px;
            margin-top: 0px;
        }
}


